
NET "C125IN" TNM_NET = "C125IN";
TIMESPEC TS_C125IN = PERIOD "C125IN" 125 MHz HIGH 50 %;
#NET "XLXI_2/XLXI_5/CLK_OUT" TNM_NET = "XLXI_2/XLXI_5/CLK_OUT";
##
PIN "CLKMAINi/XLXI_5/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "CLKMAINi/XLXI_5/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "CLKMAINi/XLXI_5/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "CLKMAINi/XLXI_5/clkout5_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
 PIN "CLKMAINi/XLXI_8.O" CLOCK_DEDICATED_ROUTE = FALSE;

 PIN "XLXI_40.O" CLOCK_DEDICATED_ROUTE = FALSE;
 PIN "XLXI_55.O" CLOCK_DEDICATED_ROUTE = FALSE;
# 
##
#NET "R1" LOC = J14;
#NET "R2" LOC = N9;
#NET "R3" LOC = L13;
#NET "R4" LOC = P7;
#NET "R5" LOC = R15;
#NET "R6" LOC = N5;
#NET "R7" LOC = T15;
#NET "R8" LOC = N3;
#
#
#NET "RB1" LOC = L16;
#NET "RB2" LOC = L7;
#NET "RB3" LOC = N12;
#NET "RB4" LOC = T6;
#NET "RB5" LOC = P12;
#NET "RB6" LOC = P5;
#NET "RB7" LOC = R14;
#NET "RB8" LOC = M4;
#
#
#NET "G1" LOC = K15;
#NET "G2" LOC = P11;
#NET "G3" LOC = N14;
#NET "G4" LOC = R7;
#NET "G5" LOC = L10;
#NET "G6" LOC = P6;
#NET "G7" LOC = T14;
#NET "G8" LOC = M3;
#
#
#NET "B1" LOC = M16;
#NET "B2" LOC = T12;
#NET "B3" LOC = M12;
#NET "B4" LOC = T7;
#NET "B5" LOC = T13;
#NET "B6" LOC = N6;
#NET "B7" LOC = R12;
#NET "B8" LOC = R5;

NET "HA" LOC = L4;
NET "HB" LOC = J3;
NET "HC" LOC = P4;
NET "HD" LOC = N4 | IOSTANDARD = LVCMOS33;

NET "DIP_SW1[0]" LOC = C3;
NET "DIP_SW1[1]" LOC = C5;

NET "DIP_SW_BUF[0]" LOC = A9;
NET "DIP_SW_BUF[1]" LOC = A10;
NET "DIP_SW_BUF[2]" LOC = B10;
NET "DIP_SW_BUF[3]" LOC = D9;
NET "DIP_SW_BUF[4]" LOC = F9;
NET "DIP_SW_BUF[5]" LOC = F10;
NET "DIP_SW_BUF[6]" LOC = A11;
NET "DIP_SW_BUF[7]" LOC = C11;

#NET "DIP_SW_SEL[0]" LOC = A13;
#NET "DIP_SW_SEL[1]" LOC = C11;
#NET "DIP_SW_SEL[2]" LOC = A12;
#NET "DIP_SW_SEL[3]" LOC = B12;
#NET "DIP_SW_SEL[4]" LOC = B16;
#NET "DIP_SW_SEL[5]" LOC = B14;
#NET "DIP_SW_SEL[6]" LOC = B15;
#NET "DIP_SW_SEL[7]" LOC = A14;


NET "DIP_SW_SEL[0]" LOC = B14;
NET "DIP_SW_SEL[1]" LOC = A12;
NET "DIP_SW_SEL[2]" LOC = B12;
NET "DIP_SW_SEL[3]" LOC = A13;

NET "DIP_SW_SEL[4]" LOC = C15;
NET "DIP_SW_SEL[5]" LOC = A14;
NET "DIP_SW_SEL[6]" LOC = B16;
NET "DIP_SW_SEL[7]" LOC = B15;


NET "DOUT_SEG[0]" LOC = A4;
NET "DOUT_SEG[1]" LOC = E7;
NET "DOUT_SEG[2]" LOC = D6;
NET "DOUT_SEG[3]" LOC = C9;
NET "DOUT_SEG[4]" LOC = A5;
NET "DOUT_SEG[5]" LOC = C8;
NET "DOUT_SEG[6]" LOC = E11;
NET "DOUT_SEG[7]" LOC = D8;



NET "DIGIT[0]" LOC = A8;
NET "DIGIT[1]" LOC = D11;
NET "DIGIT[2]" LOC = A7;

NET "STR" LOC = T4;

NET "SCLK" LOC = L5;
NET "OE" LOC = T5;

NET "EEPROM_WP" LOC = R16;
NET "EEPROM_SCL" LOC = P15;
NET "EEPROM_SDA" LOC = P16;

NET "TEMPIO" LOC = H16;

NET "LED_OS" LOC = A6;
NET "LED_RX" LOC = B5;
NET "FAN_OUT" LOC = A3;



############  BUFFER 6 PORT ###############
#NET "R1" LOC = M10;
#NET "R2" LOC = P8;
#NET "R3" LOC = N6;
#NET "R4" LOC = N4;
#NET "R5" LOC = M3;
#NET "R6" LOC = L4;
#
#NET "RB1" LOC = P9;
#NET "RB2" LOC = N8;
#NET "RB3" LOC = R7;
#NET "RB4" LOC = P6;
#NET "RB5" LOC = P4;
#NET "RB6" LOC = R5;
# 
#NET "B1" LOC = T12;
#NET "B2" LOC = L7;
#NET "B3" LOC = T6;
#NET "B4" LOC = P5;
#NET "B5" LOC = N3;
#NET "B6" LOC = T5;
#
#NET "G1" LOC = P11;
#NET "G2" LOC = N9;
#NET "G3" LOC = M5;
#NET "G4" LOC = P7;
#NET "G5" LOC = N5;
#NET "G6" LOC = M4;

#NET "OE1" LOC = T4;
#NET "SCLK1" LOC = D12;
#NET "STR1" LOC = L5;
#
#NET "OE" LOC = T8;
#NET "SCLK" LOC = T7;
#NET "STR" LOC = R9;

#NET "DIP_SW1[0]" LOC = C3;
#NET "DIP_SW1[1]" LOC = C5;
#NET "DOUT_SEG[0]" LOC = A4;
#NET "DOUT_SEG[1]" LOC = E7;
#NET "DOUT_SEG[2]" LOC = D6;
#NET "DOUT_SEG[3]" LOC = C9;
#NET "DOUT_SEG[4]" LOC = A5;
#NET "DOUT_SEG[5]" LOC = C8;
#NET "DOUT_SEG[6]" LOC = E11;
#NET "DOUT_SEG[7]" LOC = D8;
#NET "DIGIT[0]" LOC = A8;
#NET "DIGIT[1]" LOC = D11;
#NET "DIGIT[2]" LOC = A7;
##A9; Not Use
#NET "DIP_SW_BUF[0]" LOC = A10;
#NET "DIP_SW_BUF[1]" LOC = A9;
#NET "DIP_SW_BUF[2]" LOC = B10;
#NET "DIP_SW_BUF[3]" LOC = D9;
#NET "DIP_SW_BUF[4]" LOC = F9;
#NET "DIP_SW_BUF[5]" LOC = F10;
#NET "DIP_SW_BUF[6]" LOC = A11;
#NET "DIP_SW_BUF[7]" LOC = D14;
#NET "HA" LOC = K5;
#NET "HB" LOC = T9;
#NET "HC" LOC = M7;
#NET "LED_GD" LOC = B3;
#NET "TEMPIO" LOC = C15;
#NET "DIP_SW_SEL[0]" LOC = A13;
#NET "DIP_SW_SEL[1]" LOC = C11;
#NET "DIP_SW_SEL[2]" LOC = A12;
#NET "DIP_SW_SEL[3]" LOC = B12;
#NET "DIP_SW_SEL[4]" LOC = B16;
#NET "DIP_SW_SEL[5]" LOC = B14;
#NET "DIP_SW_SEL[6]" LOC = B15;
#NET "DIP_SW_SEL[7]" LOC = A14;
#NET "LED_RX" LOC = B5;
#NET "FAN_OUT" LOC = A3;
#NET "LED_OS" LOC = A6;


##########################################################################################






NET "GTX_CLK" LOC = E10;
NET "PHY_RESET" LOC = F7;
NET "PHY_RX[0]" LOC = D5;
NET "PHY_RX[1]" LOC = F6;
NET "PHY_RX[2]" LOC = E3;
NET "PHY_RX[3]" LOC = F3;
NET "PHY_RX[4]" LOC = F4;
NET "PHY_RX[5]" LOC = F5;
NET "PHY_RX[6]" LOC = G6;
NET "PHY_RX[7]" LOC = A2;
NET "PHY_TX[0]" LOC = E1;
NET "PHY_TX[1]" LOC = E2;
NET "PHY_TX[2]" LOC = D1;
NET "PHY_TX[3]" LOC = D3;
NET "PHY_TX[4]" LOC = C1;
NET "PHY_TX[5]" LOC = C2;
NET "PHY_TX[6]" LOC = B1;
NET "PHY_TX[7]" LOC = B2;

NET "RX_CLK" LOC = E8;
NET "RX_DV" LOC = E6;


NET "TX_EN" LOC = J6;

NET "EEPROM_WP" IOSTANDARD = LVCMOS33;
NET "EEPROM_SCL" IOSTANDARD = LVCMOS33;
NET "EEPROM_SDA" IOSTANDARD = LVCMOS33;

NET "GTX_CLK" IOSTANDARD = LVCMOS33;
NET "PHY_RESET" IOSTANDARD = LVCMOS33;
NET "PHY_RX[0]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[1]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[2]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[3]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[4]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[5]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[6]" IOSTANDARD = LVCMOS33;
NET "PHY_RX[7]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[0]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[1]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[2]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[3]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[4]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[5]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[6]" IOSTANDARD = LVCMOS33;
NET "PHY_TX[7]" IOSTANDARD = LVCMOS33;
NET "RX_CLK" IOSTANDARD = LVCMOS33;
NET "RX_DV" IOSTANDARD = LVCMOS33;
#NET "TX_CLK" IOSTANDARD = LVCMOS33;
NET "TX_EN" IOSTANDARD = LVCMOS33;
#NET "EEID" DRIVE = 12;
NET "PHY_RX[0]" DRIVE = 12;
NET "PHY_RX[1]" DRIVE = 12;
NET "PHY_RX[2]" DRIVE = 12;
NET "PHY_RX[3]" DRIVE = 12;
NET "PHY_RX[4]" DRIVE = 12;
NET "PHY_RX[5]" DRIVE = 12;
NET "PHY_RX[6]" DRIVE = 12;
NET "PHY_RX[7]" DRIVE = 12;
NET "PHY_TX[0]" DRIVE = 12;
NET "PHY_TX[1]" DRIVE = 12;
NET "PHY_TX[2]" DRIVE = 12;
NET "PHY_TX[3]" DRIVE = 12;
NET "PHY_TX[4]" DRIVE = 12;
NET "PHY_TX[5]" DRIVE = 12;
NET "PHY_TX[6]" DRIVE = 12;
NET "PHY_TX[7]" DRIVE = 12;
#NET "TX_CLK" DRIVE = 12;
NET "PHY_RX[0]" SLEW = SLOW;
NET "PHY_RX[1]" SLEW = SLOW;
NET "PHY_RX[2]" SLEW = SLOW;
NET "PHY_RX[3]" SLEW = SLOW;
NET "PHY_RX[4]" SLEW = SLOW;
NET "PHY_RX[5]" SLEW = SLOW;
NET "PHY_RX[6]" SLEW = SLOW;
NET "PHY_RX[7]" SLEW = SLOW;
NET "PHY_TX[0]" SLEW = SLOW;
NET "PHY_TX[1]" SLEW = SLOW;
NET "PHY_TX[2]" SLEW = SLOW;
NET "PHY_TX[3]" SLEW = SLOW;
NET "PHY_TX[4]" SLEW = SLOW;
NET "PHY_TX[5]" SLEW = SLOW;
NET "PHY_TX[6]" SLEW = SLOW;
NET "PHY_TX[7]" SLEW = SLOW;
#NET "TX_CLK" SLEW = SLOW;





NET "C125IN" LOC = H4;
NET "PHY_CLK25" LOC = H5;



NET "C125IN" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIP_SW1[0]" IOSTANDARD = LVCMOS33;
NET "DIP_SW1[1]" IOSTANDARD = LVCMOS33;
NET "DIP_SW1[2]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[0]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[1]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[2]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[3]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[4]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[5]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[6]" IOSTANDARD = LVCMOS33;
NET "DOUT_SEG[7]" IOSTANDARD = LVCMOS33;
#NET "EECK" IOSTANDARD = LVCMOS33;
#NET "EECS" IOSTANDARD = LVCMOS33;
#NET "EEDO" IOSTANDARD = LVCMOS33;
#NET "EEID" IOSTANDARD = LVCMOS33;
#NET "G1" IOSTANDARD = LVCMOS33;
#NET "G2" IOSTANDARD = LVCMOS33;
#NET "G3" IOSTANDARD = LVCMOS33;
#NET "G4" IOSTANDARD = LVCMOS33;
#NET "G5" IOSTANDARD = LVCMOS33;
#NET "G6" IOSTANDARD = LVCMOS33;
#NET "HA" IOSTANDARD = LVCMOS33;
#NET "HB" IOSTANDARD = LVCMOS33;
#NET "HC" IOSTANDARD = LVCMOS33;
#NET "LED_GD" IOSTANDARD = LVCMOS33;
NET "LED_OS" IOSTANDARD = LVCMOS33;
NET "OE" IOSTANDARD = LVCMOS33;
NET "PHY_CLK25" IOSTANDARD = LVCMOS33;
NET "PHY_CLK25" DRIVE = 4;
#NET "R1" IOSTANDARD = LVCMOS33;
#NET "R2" IOSTANDARD = LVCMOS33;
#NET "R3" IOSTANDARD = LVCMOS33;
#NET "R4" IOSTANDARD = LVCMOS33;
#NET "R5" IOSTANDARD = LVCMOS33;
#NET "R6" IOSTANDARD = LVCMOS33;
#NET "RB1" IOSTANDARD = LVCMOS33;
#NET "RB2" IOSTANDARD = LVCMOS33;
#NET "RB3" IOSTANDARD = LVCMOS33;
#NET "RB4" IOSTANDARD = LVCMOS33;
#NET "RB5" IOSTANDARD = LVCMOS33;
#NET "RB6" IOSTANDARD = LVCMOS33;
NET "SCLK" IOSTANDARD = LVCMOS33;
NET "STR" IOSTANDARD = LVCMOS33;
NET "TEMPIO" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" DRIVE = 12;
NET "DIGIT[1]" DRIVE = 12;
NET "DIGIT[2]" DRIVE = 12;
NET "DIP_SW1[0]" DRIVE = 12;
NET "DIP_SW1[1]" DRIVE = 12;
NET "DIP_SW1[2]" DRIVE = 12;
NET "DOUT_SEG[0]" DRIVE = 12;
NET "DOUT_SEG[1]" DRIVE = 12;
NET "DOUT_SEG[2]" DRIVE = 12;
NET "DOUT_SEG[3]" DRIVE = 12;
NET "DOUT_SEG[4]" DRIVE = 12;
NET "DOUT_SEG[5]" DRIVE = 12;
NET "DOUT_SEG[6]" DRIVE = 12;
NET "DOUT_SEG[7]" DRIVE = 12;
#NET "EECK" DRIVE = 12;
#NET "EECS" DRIVE = 12;
#NET "EEDO" DRIVE = 12;
#NET "HA" DRIVE = 12;
#NET "HB" DRIVE = 12;
#NET "HC" DRIVE = 12;
#NET "LED_GD" DRIVE = 12;
NET "DIGIT[0]" SLEW = SLOW;
NET "DIGIT[1]" SLEW = SLOW;
NET "DIGIT[2]" SLEW = SLOW;
NET "DIP_SW1[0]" SLEW = SLOW;
NET "DIP_SW1[1]" SLEW = SLOW;
NET "DIP_SW1[2]" SLEW = SLOW;
NET "DOUT_SEG[0]" SLEW = SLOW;
NET "DOUT_SEG[1]" SLEW = SLOW;
NET "DOUT_SEG[2]" SLEW = SLOW;
NET "DOUT_SEG[3]" SLEW = SLOW;
NET "DOUT_SEG[4]" SLEW = SLOW;
NET "DOUT_SEG[5]" SLEW = SLOW;
NET "DOUT_SEG[6]" SLEW = SLOW;
NET "DOUT_SEG[7]" SLEW = SLOW;
#NET "EECK" SLEW = SLOW;
#NET "EECS" SLEW = SLOW;
#NET "EEDO" SLEW = SLOW;
#NET "EEID" SLEW = SLOW;
#NET "HA" SLEW = SLOW;
#NET "HB" SLEW = SLOW;
#NET "HC" SLEW = SLOW;
#NET "LED_GD" SLEW = SLOW;
NET "DIP_SW1[0]" PULLUP;
NET "DIP_SW1[1]" PULLUP;
NET "DIP_SW1[2]" PULLUP;
NET "DOUT_SEG[0]" PULLUP;
NET "DOUT_SEG[1]" PULLUP;
NET "DOUT_SEG[2]" PULLUP;
NET "DOUT_SEG[3]" PULLUP;
NET "DOUT_SEG[4]" PULLUP;
NET "DOUT_SEG[5]" PULLUP;
NET "DOUT_SEG[6]" PULLUP;
NET "DOUT_SEG[7]" PULLUP;









NET "DIP_SW_BUF[0]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[1]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[2]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[3]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[4]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[5]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[6]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[7]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_BUF[0]" DRIVE = 12;
NET "DIP_SW_BUF[1]" DRIVE = 12;
NET "DIP_SW_BUF[2]" DRIVE = 12;
NET "DIP_SW_BUF[3]" DRIVE = 12;
NET "DIP_SW_BUF[4]" DRIVE = 12;
NET "DIP_SW_BUF[5]" DRIVE = 12;
NET "DIP_SW_BUF[6]" DRIVE = 12;
NET "DIP_SW_BUF[7]" DRIVE = 12;
NET "DIP_SW_BUF[0]" SLEW = SLOW;
NET "DIP_SW_BUF[1]" SLEW = SLOW;
NET "DIP_SW_BUF[2]" SLEW = SLOW;
NET "DIP_SW_BUF[3]" SLEW = SLOW;
NET "DIP_SW_BUF[4]" SLEW = SLOW;
NET "DIP_SW_BUF[5]" SLEW = SLOW;
NET "DIP_SW_BUF[6]" SLEW = SLOW;
NET "DIP_SW_BUF[7]" SLEW = SLOW;
NET "DIGIT[0]" PULLUP;
NET "DIGIT[1]" PULLUP;
NET "DIGIT[2]" PULLUP;
NET "DIP_SW_BUF[0]" PULLUP;
NET "DIP_SW_BUF[1]" PULLUP;
NET "DIP_SW_BUF[2]" PULLUP;
NET "DIP_SW_BUF[3]" PULLUP;
NET "DIP_SW_BUF[4]" PULLUP;
NET "DIP_SW_BUF[5]" PULLUP;
NET "DIP_SW_BUF[6]" PULLUP;
NET "DIP_SW_BUF[7]" PULLUP;


#NET "DB5" LOC = T15;
#NET "DB6" LOC = R15;
#NET "DB7" LOC = L10;
#NET "DB8" LOC = P12;
#
NET "DB1" IOSTANDARD = LVCMOS33;
NET "DB2" IOSTANDARD = LVCMOS33;
NET "DB3" IOSTANDARD = LVCMOS33;
NET "DB4" IOSTANDARD = LVCMOS33;
#NET "DB5" IOSTANDARD = LVCMOS33;
#NET "DB6" IOSTANDARD = LVCMOS33;
#NET "DB7" IOSTANDARD = LVCMOS33;
#NET "DB8" IOSTANDARD = LVCMOS33;
#




#NET "DB[0]" LOC = T15;
#NET "DB[1]" LOC = R15;
#NET "DB[2]" LOC = L10;
#NET "DB[3]" LOC = P12;
#NET "DB[4]" LOC = N12;
#NET "DB[5]" LOC = M12;
#NET "DB[6]" LOC = N14;
#NET "DB[7]" LOC = L13;
#
#
#NET "DB[0]" IOSTANDARD = LVCMOS33;
#NET "DB[1]" IOSTANDARD = LVCMOS33;
#NET "DB[2]" IOSTANDARD = LVCMOS33;
#NET "DB[3]" IOSTANDARD = LVCMOS33;
#NET "DB[4]" IOSTANDARD = LVCMOS33;
#NET "DB[5]" IOSTANDARD = LVCMOS33;
#NET "DB[6]" IOSTANDARD = LVCMOS33;
#NET "DB[7]" IOSTANDARD = LVCMOS33;
#NET "DB[0]" DRIVE = 12;
#NET "DB[1]" DRIVE = 12;
#NET "DB[2]" DRIVE = 12;
#NET "DB[3]" DRIVE = 12;
#NET "DB[4]" DRIVE = 12;
#NET "DB[5]" DRIVE = 12;
#NET "DB[6]" DRIVE = 12;
#NET "DB[7]" DRIVE = 12;
#NET "DB[0]" SLEW = SLOW;
#NET "DB[1]" SLEW = SLOW;
#NET "DB[2]" SLEW = SLOW;
#NET "DB[3]" SLEW = SLOW;
#NET "DB[4]" SLEW = SLOW;
#NET "DB[5]" SLEW = SLOW;
#NET "DB[6]" SLEW = SLOW;
#NET "DB[7]" SLEW = SLOW;





NET "DIP_SW_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[4]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[5]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[6]" IOSTANDARD = LVCMOS33;
NET "DIP_SW_SEL[7]" IOSTANDARD = LVCMOS33;


NET "DIP_SW_SEL[0]" DRIVE = 12;
NET "DIP_SW_SEL[1]" DRIVE = 12;
NET "DIP_SW_SEL[2]" DRIVE = 12;
NET "DIP_SW_SEL[3]" DRIVE = 12;
NET "DIP_SW_SEL[4]" DRIVE = 12;
NET "DIP_SW_SEL[5]" DRIVE = 12;
NET "DIP_SW_SEL[6]" DRIVE = 12;
NET "DIP_SW_SEL[7]" DRIVE = 12;

NET "DIP_SW_SEL[0]" SLEW = SLOW;
NET "DIP_SW_SEL[1]" SLEW = SLOW;
NET "DIP_SW_SEL[2]" SLEW = SLOW;
NET "DIP_SW_SEL[3]" SLEW = SLOW;
NET "DIP_SW_SEL[4]" SLEW = SLOW;
NET "DIP_SW_SEL[5]" SLEW = SLOW;
NET "DIP_SW_SEL[6]" SLEW = SLOW;
NET "DIP_SW_SEL[7]" SLEW = SLOW;
NET "DIP_SW_SEL[0]" PULLUP;
NET "DIP_SW_SEL[1]" PULLUP;
NET "DIP_SW_SEL[2]" PULLUP;
NET "DIP_SW_SEL[3]" PULLUP;
NET "DIP_SW_SEL[4]" PULLUP;
NET "DIP_SW_SEL[5]" PULLUP;
NET "DIP_SW_SEL[6]" PULLUP;
NET "DIP_SW_SEL[7]" PULLUP;


NET "GTX_CLK2" LOC = K3;
NET "PHY_RXD2[0]" LOC = F1;
NET "PHY_RXD2[1]" LOC = G3;
NET "PHY_RXD2[2]" LOC = G1;
NET "PHY_RXD2[3]" LOC = H2;
NET "PHY_RXD2[4]" LOC = H1;
NET "PHY_RXD2[5]" LOC = J1;
NET "PHY_RXD2[6]" LOC = K2;
NET "PHY_RXD2[7]" LOC = K1;
NET "PHY_TXD2[0]" LOC = R2;
NET "PHY_TXD2[1]" LOC = R1;
NET "PHY_TXD2[2]" LOC = P2;
NET "PHY_TXD2[3]" LOC = P1;
NET "PHY_TXD2[4]" LOC = N1;
NET "PHY_TXD2[5]" LOC = M2;
NET "PHY_TXD2[6]" LOC = M1;
NET "PHY_TXD2[7]" LOC = L1;
NET "RX_CLK2" LOC = J4;
NET "RX_DV2" LOC = F2;
NET "TX_EN2" LOC = L3;


NET "GTX_CLK2" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[0]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[1]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[2]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[3]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[4]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[5]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[6]" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[7]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[0]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[1]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[2]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[3]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[4]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[5]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[6]" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2[7]" IOSTANDARD = LVCMOS33;
NET "RX_CLK2" IOSTANDARD = LVCMOS33;
NET "RX_DV2" IOSTANDARD = LVCMOS33;
NET "TX_EN2" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2[0]" DRIVE = 12;
NET "PHY_RXD2[1]" DRIVE = 12;
NET "PHY_RXD2[2]" DRIVE = 12;
NET "PHY_RXD2[3]" DRIVE = 12;
NET "PHY_RXD2[4]" DRIVE = 12;
NET "PHY_RXD2[5]" DRIVE = 12;
NET "PHY_RXD2[6]" DRIVE = 12;
NET "PHY_RXD2[7]" DRIVE = 12;
NET "PHY_TXD2[0]" DRIVE = 12;
NET "PHY_TXD2[1]" DRIVE = 12;
NET "PHY_TXD2[2]" DRIVE = 12;
NET "PHY_TXD2[3]" DRIVE = 12;
NET "PHY_TXD2[4]" DRIVE = 12;
NET "PHY_TXD2[5]" DRIVE = 12;
NET "PHY_TXD2[6]" DRIVE = 12;
NET "PHY_TXD2[7]" DRIVE = 12;
NET "PHY_RXD2[0]" SLEW = SLOW;
NET "PHY_RXD2[1]" SLEW = SLOW;
NET "PHY_RXD2[2]" SLEW = SLOW;
NET "PHY_RXD2[3]" SLEW = SLOW;
NET "PHY_RXD2[4]" SLEW = SLOW;
NET "PHY_RXD2[5]" SLEW = SLOW;
NET "PHY_RXD2[6]" SLEW = SLOW;
NET "PHY_RXD2[7]" SLEW = SLOW;
NET "PHY_TXD2[0]" SLEW = SLOW;
NET "PHY_TXD2[1]" SLEW = SLOW;
NET "PHY_TXD2[2]" SLEW = SLOW;
NET "PHY_TXD2[3]" SLEW = SLOW;
NET "PHY_TXD2[4]" SLEW = SLOW;
NET "PHY_TXD2[5]" SLEW = SLOW;
NET "PHY_TXD2[6]" SLEW = SLOW;
NET "PHY_TXD2[7]" SLEW = SLOW;




NET "LED_RX" IOSTANDARD = LVCMOS33;


#NET "RX_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "RX_CLK2" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "DB1" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "XLXI_35.O" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2012/09/01
NET "RX_CLK" TNM_NET = "RX_CLK";
TIMESPEC TS_RX_CLK = PERIOD "RX_CLK" 125 MHz HIGH 50 %;
NET "RX_CLK2" TNM_NET = "RX_CLK2";
NET "RX_CLK2" CLOCK_DEDICATED_ROUTE = FALSE;
TIMESPEC TS_RX_CLK2 = PERIOD "RX_CLK2" 125 MHz HIGH 50 %;
#PIN "XLXI_30/XLXI_30.O" CLOCK_DEDICATED_ROUTE = FALSE;



NET "Watchdog" LOC = C6;
NET "Watchdog" IOSTANDARD = LVCMOS33;
NET "FAN_OUT" IOSTANDARD = LVCMOS33;

NET "PHY_MDC" LOC = E4;
NET "PHY_MDIO" LOC = G5;

NET "PHY_MDC" IOSTANDARD = LVCMOS33;
NET "PHY_MDIO" IOSTANDARD = LVCMOS33;

#NET "HA1" LOC = J3;
#NET "HC1" LOC = B6;
#NET "HB1" LOC = C7;
#
## PlanAhead Generated IO constraints 
#
#NET "HA1" IOSTANDARD = LVCMOS33;
#NET "HB1" IOSTANDARD = LVCMOS33;
#NET "HC1" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx16-ftg256-3) - 2013/08/20
INST "PHY_RX[0]" TNM = "PHY1_RX";
INST "PHY_RX[1]" TNM = "PHY1_RX";
INST "PHY_RX[2]" TNM = "PHY1_RX";
INST "PHY_RX[3]" TNM = "PHY1_RX";
INST "PHY_RX[4]" TNM = "PHY1_RX";
INST "PHY_RX[5]" TNM = "PHY1_RX";
INST "PHY_RX[6]" TNM = "PHY1_RX";
INST "PHY_RX[7]" TNM = "PHY1_RX";
INST "RX_DV" TNM = "PHY1_RX";
TIMEGRP "PHY1_RX" OFFSET = IN 4 ns VALID 8 ns BEFORE "RX_CLK" RISING;
INST "PHY_RXD2[0]" TNM = "PHY2_RX";
INST "PHY_RXD2[1]" TNM = "PHY2_RX";
INST "PHY_RXD2[2]" TNM = "PHY2_RX";
INST "PHY_RXD2[3]" TNM = "PHY2_RX";
INST "PHY_RXD2[4]" TNM = "PHY2_RX";
INST "PHY_RXD2[5]" TNM = "PHY2_RX";
INST "PHY_RXD2[6]" TNM = "PHY2_RX";
INST "PHY_RXD2[7]" TNM = "PHY2_RX";
INST "RX_DV2" TNM = "PHY2_RX";
TIMEGRP "PHY2_RX" OFFSET = IN 4 ns VALID 8 ns BEFORE "RX_CLK2" RISING;

#
#
#
#NET "B1" IOSTANDARD = LVCMOS33;
#NET "B2" IOSTANDARD = LVCMOS33;
#NET "B3" IOSTANDARD = LVCMOS33;
#NET "B4" IOSTANDARD = LVCMOS33;
#NET "B5" IOSTANDARD = LVCMOS33;
#NET "B6" IOSTANDARD = LVCMOS33;
#NET "B7" IOSTANDARD = LVCMOS33;
#NET "B8" IOSTANDARD = LVCMOS33;
#NET "G7" IOSTANDARD = LVCMOS33;
#NET "G8" IOSTANDARD = LVCMOS33;
NET "HA" IOSTANDARD = LVCMOS33;
NET "HB" IOSTANDARD = LVCMOS33;
NET "HC" IOSTANDARD = LVCMOS33;
#NET "R7" IOSTANDARD = LVCMOS33;
#NET "R8" IOSTANDARD = LVCMOS33;
#NET "RB7" IOSTANDARD = LVCMOS33;
#NET "RB8" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 


NET "SR[0]" LOC = J14;
NET "SG[0]" LOC = K16;
NET "SB[0]" LOC = J16;

NET "SR[1]" LOC = R12;
NET "SG[1]" LOC = L7;
NET "SB[1]" LOC = N9;

NET "SR[2]" LOC = P8;
NET "SG[2]" LOC = M6;
NET "SB[2]" LOC = N8;

NET "SR[3]" LOC = T14;
NET "SG[3]" LOC = T13;
NET "SB[3]" LOC = R14;


NET "SR[4]" LOC = M16;
NET "SG[4]" LOC = J12;
NET "SB[4]" LOC = M15;

NET "SR[5]" LOC = L16;
NET "SG[5]" LOC = N16;
NET "SB[5]" LOC = K15;

NET "SR[6]" LOC = K5;
NET "SG[6]" LOC = T8;
NET "SB[6]" LOC = T9;

NET "SR[7]" LOC = M5;
NET "SG[7]" LOC = R9;
NET "SB[7]" LOC = M7;

NET "SR[8]" LOC = N14;
NET "SG[8]" LOC = H11;
NET "SB[8]" LOC = L13;

NET "SR[9]" LOC = K14;
NET "SG[9]" LOC = K12;
NET "SB[9]" LOC = L12;

NET "SR[10]" LOC = P6;
NET "SG[10]" LOC = T7;
NET "SB[10]" LOC = N6;

NET "SR[11]" LOC = T6;
NET "SG[11]" LOC = R7;
NET "SB[11]" LOC = P7;

NET "SR[12]" LOC = N12;
NET "SG[12]" LOC = M12;
NET "SB[12]" LOC = P12;

NET "SR[13]" LOC = R15;
NET "SG[13]" LOC = L10;
NET "SB[13]" LOC = T15;

NET "SR[14]" LOC = N5;
NET "SG[14]" LOC = P5;
NET "SB[14]" LOC = N3;

NET "SR[15]" LOC = M3;
NET "SG[15]" LOC = M4;
NET "SB[15]" LOC = R5;



NET "DB1" LOC = E15;
NET "DB2" LOC = D16;
NET "DB3" LOC = F15;
NET "DB4" LOC = E16;

# PlanAhead Generated IO constraints 

NET "SB[0]" IOSTANDARD = LVCMOS33;
NET "SB[1]" IOSTANDARD = LVCMOS33;
NET "SB[2]" IOSTANDARD = LVCMOS33;
NET "SB[3]" IOSTANDARD = LVCMOS33;
NET "SB[4]" IOSTANDARD = LVCMOS33;
NET "SB[5]" IOSTANDARD = LVCMOS33;
NET "SB[6]" IOSTANDARD = LVCMOS33;
NET "SB[7]" IOSTANDARD = LVCMOS33;
NET "SB[8]" IOSTANDARD = LVCMOS33;
NET "SB[9]" IOSTANDARD = LVCMOS33;
NET "SB[10]" IOSTANDARD = LVCMOS33;
NET "SB[11]" IOSTANDARD = LVCMOS33;
NET "SB[12]" IOSTANDARD = LVCMOS33;
NET "SB[13]" IOSTANDARD = LVCMOS33;
NET "SB[14]" IOSTANDARD = LVCMOS33;
NET "SB[15]" IOSTANDARD = LVCMOS33;
NET "SG[0]" IOSTANDARD = LVCMOS33;
NET "SG[1]" IOSTANDARD = LVCMOS33;
NET "SG[2]" IOSTANDARD = LVCMOS33;
NET "SG[3]" IOSTANDARD = LVCMOS33;
NET "SG[4]" IOSTANDARD = LVCMOS33;
NET "SG[5]" IOSTANDARD = LVCMOS33;
NET "SG[6]" IOSTANDARD = LVCMOS33;
NET "SG[7]" IOSTANDARD = LVCMOS33;
NET "SG[8]" IOSTANDARD = LVCMOS33;
NET "SG[9]" IOSTANDARD = LVCMOS33;
NET "SG[10]" IOSTANDARD = LVCMOS33;
NET "SG[11]" IOSTANDARD = LVCMOS33;
NET "SG[12]" IOSTANDARD = LVCMOS33;
NET "SG[13]" IOSTANDARD = LVCMOS33;
NET "SG[14]" IOSTANDARD = LVCMOS33;
NET "SG[15]" IOSTANDARD = LVCMOS33;
NET "SR[0]" IOSTANDARD = LVCMOS33;
NET "SR[1]" IOSTANDARD = LVCMOS33;
NET "SR[2]" IOSTANDARD = LVCMOS33;
NET "SR[3]" IOSTANDARD = LVCMOS33;
NET "SR[4]" IOSTANDARD = LVCMOS33;
NET "SR[5]" IOSTANDARD = LVCMOS33;
NET "SR[6]" IOSTANDARD = LVCMOS33;
NET "SR[7]" IOSTANDARD = LVCMOS33;
NET "SR[8]" IOSTANDARD = LVCMOS33;
NET "SR[9]" IOSTANDARD = LVCMOS33;
NET "SR[10]" IOSTANDARD = LVCMOS33;
NET "SR[11]" IOSTANDARD = LVCMOS33;
NET "SR[12]" IOSTANDARD = LVCMOS33;
NET "SR[13]" IOSTANDARD = LVCMOS33;
NET "SR[14]" IOSTANDARD = LVCMOS33;
NET "SR[15]" IOSTANDARD = LVCMOS33;
NET "SB[0]" DRIVE = 6;
NET "SB[1]" DRIVE = 6;
NET "SB[2]" DRIVE = 6;
NET "SB[3]" DRIVE = 6;
NET "SB[4]" DRIVE = 6;
NET "SB[5]" DRIVE = 6;
NET "SB[6]" DRIVE = 6;
NET "SB[7]" DRIVE = 6;
NET "SB[8]" DRIVE = 6;
NET "SB[9]" DRIVE = 6;
NET "SB[10]" DRIVE = 6;
NET "SB[11]" DRIVE = 6;
NET "SB[12]" DRIVE = 6;
NET "SB[13]" DRIVE = 6;
NET "SB[14]" DRIVE = 6;
NET "SB[15]" DRIVE = 6;
NET "SG[0]" DRIVE = 6;
NET "SG[1]" DRIVE = 6;
NET "SG[2]" DRIVE = 6;
NET "SG[3]" DRIVE = 6;
NET "SG[4]" DRIVE = 6;
NET "SG[5]" DRIVE = 6;
NET "SG[6]" DRIVE = 6;
NET "SG[7]" DRIVE = 6;
NET "SG[8]" DRIVE = 6;
NET "SG[9]" DRIVE = 6;
NET "SG[10]" DRIVE = 6;
NET "SG[11]" DRIVE = 6;
NET "SG[12]" DRIVE = 6;
NET "SG[13]" DRIVE = 6;
NET "SG[14]" DRIVE = 6;
NET "SG[15]" DRIVE = 6;
NET "SR[0]" DRIVE = 6;
NET "SR[1]" DRIVE = 6;
NET "SR[2]" DRIVE = 6;
NET "SR[3]" DRIVE = 6;
NET "SR[4]" DRIVE = 6;
NET "SR[5]" DRIVE = 6;
NET "SR[6]" DRIVE = 6;
NET "SR[7]" DRIVE = 6;
NET "SR[8]" DRIVE = 6;
NET "SR[9]" DRIVE = 6;
NET "SR[10]" DRIVE = 6;
NET "SR[11]" DRIVE = 6;
NET "SR[12]" DRIVE = 6;
NET "SR[13]" DRIVE = 6;
NET "SR[14]" DRIVE = 6;
NET "SR[15]" DRIVE = 6;
